// Place all the styles related to the manage/courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-datepicker-inline {
    width: 100% !important;
}

.highlight {
  background-color: #64d7c6;
}

table{
  text-align: center;
  th{
    text-align: center;
  }
}