.class-management-section{
  .title{

  }
  .btn-filter{
    margin: 10px;
    border-radius: 0px;
    margin: 10px auto;
    padding: 5px 20px !important;
    color: #64d7c6 !important;
    border: 2px solid #64d7c6;
    font-size: 20px;
    background-color: white;
  }
  .button-class-active{
    background-color: #64d7c6;
    color: white !important;
  }
  .col-lg-3{
    text-align: center;
  }
  .search-section{
    margin: 30px;
    button{
      border: 1px solid #e24492;
      color: #e24492;
      margin: 0px;
      background-color: white;
    }
  }
}
