.paymet-section{
  button{
    width: 100px;
  }

  .time-section {
    .btn-active {
      background-color: #91e4fb !important;
      color: #fff !important;
    }
  }

  .btn-month {
    background-color: #f397ef;
  }
}