h1 Show
p
  span Name:
  span = @teacher.name
= link_to 'Delete', manage_teacher_path(@teacher), method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Edit', edit_manage_teacher_path(@teacher)
= link_to 'Index', manage_teachers_path