- if current_user.customer?
  = form_tag('/my/checkouts/process_payment',{method: :post,  id: "checkout-form"}) do
    = hidden_field_tag :course_name, @course.name
    = hidden_field_tag :studio_name, @course.studio_name
    = hidden_field_tag :tuition, @course.tuition
    = hidden_field_tag :currency, @course.currency
    = hidden_field_tag :course_id, @course.id
    = select_tag :join_date, options_for_select(@course.slot_time), class: 'form-control'
    = submit_tag 'submit', style: 'display:none', id: 'bookCourse'
    br
    script src="https://checkout.stripe.com/checkout.js"
    button id="purchase" Purchase
    javascript:
		  var handler = StripeCheckout.configure({
		    key: '#{Rails.configuration.stripe[:publishable_key]}',
		    locale: 'auto',
		    token: function(token) {
		    	$("#checkout-form").prepend($("<input name='source' type='hidden'>").val(token.id));
		      $("#bookCourse").click();
		    }
		  });

		  $('#purchase').on('click', function(e) {
		    // Open Checkout with further options:
		    handler.open({
		      name: 'TONED',
		      amount: $("#total-cost").attr('data-price'),
		      currency: '#{@course.currency}',
		      email: '#{current_user.email}'
		    });
		    e.preventDefault();
		  });

		  // Close Checkout on page navigation:
		  $(window).on('popstate', function() {
		    handler.close();
		  });