.table-courses{
  img{
    width: 60px;
    height: 40px;
  }
}
.table-enrollment{
  @extend .table-courses;
}

.btn{
  margin: 10px;
}

.table-course-admin {
  td {
    border-top: 2px solid #4bcfbb !important;
  }
}

.button-featured-course {
  td {
    border-top: none !important;
  }
}