p Dear #{@friend_mail},

h1 TONE

p #{@user.name} has invited you to join Tone. 

p #{@message}

p please check link below for more detail.

= link_to "See more", "http://toned-goldenowl.herokuapp.com/"