- content_for :content do
  scss:
    .logo {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      padding: 20px;
      .pre {
        color: #65d7c5;
      }
      .suf {
        color: #aaaaaa;
      }
    }
    .announcement {
      background-color: #aeebfc;
      padding: 10px;
      .para {
        font-size: 20px;
        color: #666678;
        text-align: center;
        .ele {
          display: inline-block;
          padding: 10px;
        }
        .up {
          border-bottom: 2px solid #666678;
        }
      }
    }
    .infomation {
      text-align: center;
      color: #666678;
      .heading {
        color: #e24492;
      }
    }
    .btn {
      background-color: #e24492;
      font-size: 30px;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      padding: 7px 10px;
      color: white;
      &:hover {
        background-color: #3fcdb8;
      }
    }
  .logo
    span.pre TO
    span.suf NED
  .announcement
    .para
      .ele.up = t('email_content.invite.invitation', name: @user.name)
    .para 
      .ele = t('email_content.invite.sologan')
  .infomation
    h2.heading = t('email_content.invite.benefit')
    h3 = t('email_content.invite.feature')
  .div style="text-align:center; margin:30px 0px;"
    = link_to t('email_content.static.sign_up_now'), new_user_registration_url, class: 'btn'
  .div style="text-align:right"
    = image_tag attachments['phone.png'].url, style: "width:200px;height:400px;margin-top:30px;"
  .div style="background-color:#f3f3f3;text-align:right;"
    = image_tag attachments['phone.png'].url, style: "width:200px;height:400px;margin-top:30px;"
  .div style="text-align:right;"
    = image_tag attachments['phone.png'].url, style: "width:200px;height:400px;margin-top:30px;"
= render template: "layouts/mailer"