.body-section{
  .about-us{
    margin:0px 10%;
    padding-top: 10%;
    text-align: center;
    p{
      font-size: 18px;
      line-height: 200%;
    }
  }
  .contact-us-section{
    margin:0px 10%;
    padding-top: 10%;
  }
  .our-mission{
    margin: 10% 10%;
    text-align: center;
    p{
      font-size: 18px;
      line-height: 200%;
    }
  }
}