.course-detail{
  .app-name{
    font-weight: bold;
    color: #64d7c6;
    span{
      font-size: 40px;
    }
  }
  .class-detail-section{
    .title{
      color: white;
    }

    .basic-info{
      padding-bottom: 20px;
      background-color: #e8a9ef;
      .center-rating{
        float: none;
        margin: 0px auto;
      }
      .body{
        color: white;
      }
      .days_of_week{
        color: white;
      }
    }
    .facilities{
      margin: 10px 0px;
    }

    .status-flag{
      border-radius: 30px;
      border: 0px;
      height: 60px;
      width: 60px;
      background-color: #f397ef;
      position: absolute;
      top: 30px;
      right: 30px;
      padding: 6px;
    }
    .btn-add{
      background-color: #e8a9ef;
    }
    .cover-section{
      text-align: center;
      img{
        width: 500px;
        height: 300px
      }
    }
    .action-section{
      text-align: center;
      .star{
        margin: 20px;
        img{
          height: 20px;
          width: 20px;
        }
      }
      .add-to-fav-item-wrapper{
        text-align: center;
        .add-to-fav-item{
          margin: 0px auto;
        }
      }
    }
    table{
      font-size: 18px;
    }
    .table th, .table td{
      border-top: none !important;
      text-align: center !important;
    }
    .studio-description{
      margin: 10px 10%;
    }
    .studio-detail{
      list-style-type: none;
      padding-left: 0px;
      margin: 0px 15%;
      .glyphicon{
        margin-right: 10px;
        color: #de2582;
      }
    }
  }
}

.confirmation-detail{
  .container{
    background-color: white;
    padding: 20px;
  }
  .app-name{
    font-weight: bold;
    color: #64d7c6;
  }
  .course-name{
    color: #e24492;
  }
  .app-title-section{
    margin-top: 30px;
    background-color: #64d7c6;
    color: white;
    .app-name{
      color: white;
    }
  }
}

#addsClassModal{
  .modal-dialog{
    text-align: center;
    form{
      height: 150px;
      width: 100%;
      .stripe-button-el{
        position: absolute;
        left: 0px;
        top: 50%;
        background-color: #de77e9;
        background-image: none !important;
        span{
          background: #de77e9 !important;
        }
      }
    }
  }
}

.course-items{
  padding: 15px 15px !important  ;
  img{
    width: 100%;
    height: 200px;
  }
  .detail{
    padding: 20px;
    margin: 0px 15px;
    position: absolute;
    opacity: 0;
    top: 40%;
    left: 0px;
    right: 0px;
    background-color: white;
    text-align: center;
    .star{
      margin: 10px;
      img{
        height: 16px;
        width: 16px;
      }
      img.raty-cancel{
        display: none;
      }
    }
    .title{
      color: #4cb1dc;
    }
    .btn{
      margin: 10px;
      background-color: transparent;
      border: 1px solid #64d7c6;
      color: #64d7c6;
    }
    -webkit-transition: opacity 500ms, top 500ms;
    -moz-transition: opacity 500ms, top 500ms;
    -o-transition: opacity 500ms, top 500ms;
    -ms-transition: opacity 500ms, top 500ms;
    transition: opacity 500ms, top 500ms;
  }
  .course-items:hover{
    .detail{
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.95);
      top: 20%;
    }
  }
  .studio-detail{
    margin: 0px;
    min-height: 90px;
    background-color: #fb9ed9;
    text-align: center;

    .title{
      padding-top: 10px;
      text-align: left;
      padding-left: 20px;
      a{
        color: #f7147f;
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
      }
    }
    h4{
      color: white;
      white-space: nowrap;
      font-size: 16px;
      margin-top: 10px;
    }
  }
}
.checkbox-circle{
  input[type="checkbox"]{
    display: inline-block;
    width: 30px;
    opacity: 0;
    position: relative;
    z-index: 1;
  }
  input[type="checkbox"] label:before {
      border-radius: 3px;
      background-color: #fdcf2f;
  }
  input[type="checkbox"]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 30px;
    // color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background-color: #fdcf2f;
    padding-top: 24px;
    padding-left: 5px;
    color: #64d7c6;
  }

  label{
    position: relative;
    padding-left: 0px !important;
    color: #fff;
    width: 70px;
    text-align: center;
    font-size: 16px;
    opacity: 0.9 !important;
  }
  label:before {
    content: "";
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    position: absolute;
    left: 19px;
    top: -23px;
    z-index: -1;
    background-color: #454545 !important;
    border-radius: 50%;
  }
}
.checkbox-facilities{
  margin-bottom: 30px !important;
  label:before {
    left: 13px;
    top: -23px;
  }
  label{
    margin-top: 10px;
  }
}