.list-enrollment-section{
  .row.item-section{
    img{
      width: 70px;
      height: 70px;
    }
  }
  .btn-filter {
    margin: 10px;
    border-radius: 0px;
    margin: 10px auto;
    padding: 5px 20px !important;
    color: #64d7c6 !important;
    border: 2px solid #64d7c6;
    font-size: 20px;
    background-color: white;
  }
  .button-class-active{
    background-color: #64d7c6;
    color: white !important;
  }

}
.table-booked-class tr td{
  img{
    width: 60px;
    height: 50px;
  }
}

.booked-row-classes td {
  border-bottom: none !important;
}
.booked-row-classes:nth-child(even) td {
  background-color: #f0c9f5 !important;
}
.payable_option {
  margin-top: 20px;
  ul {
    list-style-type: none;
    margin: auto 20% 20px;
    border-top: 2px solid #777;
    li {
      float: left;
      width: 50%;
      font-size: 25px;
      color: #64d7c6;
      i {
        margin-right: 7px;
        color: #f397ef;
      }
    }
  }
  ul:after, ul:before {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
    padding-bottom: 15px;
  }      
}