.studio-detail{
  .app-title{
    .app-name{
      font-weight: bold;
      color: #64d7c6;
    }
  }
  .studio-detail-section{
    img{
      width: 500px;
      height: 300px
    }
    .title{
      color: #666666;
    }
    .body{
      color: #666666;
    }
    .basic-info{
      background-color: #e8a9ef;
      h2 {
        color: white;
      }
      .star{
        display: inline-block;
        margin: auto 4%;
        img{
          height: 20px;
          width: 20px;
        }
      }
    }
    .payable_option {
      margin-top: 20px;
      ul {
        list-style-type: none;
        margin: auto 20% 20px;
        border-bottom: 2px solid #777;
        li {
          float: left;
          width: 50%;
          font-size: 25px;
          color: #64d7c6;
          i {
            margin-right: 7px;
            color: #f397ef;
          }
        }
      }
      ul:after {
        content: " ";
        display: block; 
        height: 0; 
        clear: both;
        padding-bottom: 10px;
      }      
    }
    .course-list{
      padding: 0px 15%;
    }
    .studio-detail{
      list-style-type: none;
      padding-left: 0px;
      margin: 0px 15%;
      .glyphicon{
        margin-right: 10px;
        color: #de2582;
      }
    }
  }

  .table-color-list {
    tr {
      td {
        display: table-cell;
        vertical-align: middle;
        color: #686868;
        font-weight: 600;
        // font-size: 16px;

        a {
          color: #686868;
          text-decoration: none;
        }
      }
    }
    tr:nth-child(odd) {
      background-color: #64d7c6 !important;
      .money {
        color: #fff;
      }
    }

    tr:nth-child(even) {
      background-color: #fff !important;
      .money {
        color: #64d7c6;
      }
    }
  }
}
.studio-list-section{
  padding: 0px 12%;
  .filter-button {
    padding-left: 5%;
    margin-bottom: 40px;
    button{
      border-radius: 0px;
      width: 100%;
      color: #5bc0de !important;
      border: 2px solid #5bc0de;
      font-size: 20px;
      background-color: white;
    }
    .button-class-active{
      background-color: #5bc0de;
      color: white !important;
      border: 2px solid #5bc0de;
    }
  }
  .col-lg-3{
    text-align: center;
  }
}

#color-grey {
  color: #bbb;
}

#color-blue {
  color: #64d7c6;
}

.studio-data {
  vertical-align: middle !important;
  padding: 0px !important;
  button {
    display: block;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #f397ef;
    color: white !important;
    border: none;
    border-radius: 5px;
  }
  button:hover {
    text-decoration: none;
    background-color: #3fcdb8 !important;
  }
}

#studio-list {
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 40px 0;
      .title {
        margin: 0;
      }
      .table-studio-by-name, .table-studio-by-station {
        td, th {
          border: none;
        }
      }
      &:nth-child(odd) {
        .title {
          color: #f397ef;
          border-bottom: 2px solid #f397ef;
        }

        .table-studio-by-name, .table-studio-by-station {
          tr {
            border-bottom: 2px solid #f397ef;
          }
        }
      }

      &:nth-child(even) {
        .title {
          color: #4cd1bc;
          border-bottom: 2px solid #4cd1bc;
        }

        .table-studio-by-name, .table-studio-by-station {
          tr {
            border-bottom: 2px solid #4cd1bc;
          }
        }
      }
    }
  }
}