.navbar-custom{
  border-bottom: 1px solid #20a7e5 !important;
  h1{
    color: #20a7e5;
    font-style: italic;
  }
  .display-user-name{
    color: orange;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
  }
}
.logo-img{
  padding-left: 10%;
  img{
    width: 70px;
    height: 70px;
  }
}
.header-section{
}
.body-section{
  min-height: 1500px;
  .align-center{
    text-align: center;
  }
  .introduction{
    .popular-course{
      .img-cover{
        width: 300px;
        height: 200px;
      }
    }
    .img_class{
        width: 300px;
        height: 200px;
      padding: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
    }

    .img-cover img{
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .img-cover:hover img.img_class{
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      z-index: 1;
      opacity: 2;
    }
    .img-cover:hover span.class_name{
      opacity: 1;
      z-index: 9999;
    }
    .img-cover{
      position: relative;
    }
    .class_name{
      position: absolute;
      color: #fff;
      top: 40%;
      left: 0%;
      width: 100%;
      font-weight: bold;
      z-index: 9999;
      text-align: center;
      vertical-align: middle;
      opacity: 0;
      font-size: 30px;
      font-weight: bold;
      /*animation*/
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      -ms-transition: opacity 500ms;
      transition: opacity 500ms;
    }
  }
}
.footer-section{
  background-color: white;
  padding: 15px;
  border-top: 1px solid #20a7e5 !important;
  .glyphicon{
    padding-right: 10px;
  }
  .copy-right .about-us{
    padding-top: 10%;
    padding-left: 20%;
  }
}