.btn-home{
  color: #3fcdb8 !important;
  font-weight: bold;
  font-size: 20px !important;
}
.btn-header{
  margin: 10px;
  padding: 5px 20px !important;
  color: #fff !important;
  font-weight: bold;
}
.btn-header:hover{
  color: white !important;
}
.btn-sign-up{
  @extend .btn-header;
  background-color: #f397ef;
  color: white !important;
  margin: 10px;
  border-radius: 7px;
}
.btn-sign-up:hover{
  background-color: #3fcdb8 !important;
}

.btn-name{
  color: orange !important;
  font-weight: bold;
}

.btn-sign-in{
  border: 1px solid #de77e9 !important;
  color: #de77e9 !important;
  background-color: white !important;
}

.header-section{
  .navbar-nav li a:hover{
    background-color: transparent;
    color: orange;
  }
  .navbar-nav li a{
    font-weight: bold;
    color: #64d7c6;
  }
  .navbar-nav li a:active{
    background-color: transparent;
  }
  .navbar-nav li a:focus{
    background-color: transparent;
  }
  .navbar-custom{
    width: 100%;
    margin-bottom: 0px;
    background-color: #2c3e50;
    .user-info{
      list-style-type: none;
      li{
        display: inline;
      }
    }
    h1{
      color: white;
      font-style: italic;
    }
    .display-user-name{
      color: orange;
      font-weight: bold;
      font-size: 17px;
    }
    .avatar{
      width: 40px;
      height: 40px;
      margin-top: 5px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  img{
    width: 100%;
  }
  .header-content{
    position: absolute;
    top: 40%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    h1{
      font-size: 60px;
    }
    h2{
      font-size: 40px;
      color: #dbf5f1;
    }
    .btn-get-started{
      padding: 8px 18px !important;
      font-size: 15px;
      margin-top: 40px;
    }
  }
}


@media screen and (max-width: 768px) {
  .header-section{
    .header-content{
      top: 20%;
    }
  }
}
@media screen and (max-width: 600px) {
  .header-section{
    .header-content{
      top: 15%;
      h1{
        font-size: 55px;
      }
      h2{
        font-size: 35px;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .header-section{
    .header-content{
      top: 13%;
      h1{
        font-size: 45px;
      }
      h2{
        font-size: 25px;
      }
    }
  }
}
@media screen and (max-width: 468px) {
  .header-section{
    .header-content{
      top: 10%;
      h1{
        font-size: 45px;
      }
      h2{
        font-size: 25px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .header-section{
    .header-content{
      top: 5%;
      h1{
        font-size: 45px;
      }
      h2{
        font-size: 25px;
      }
    }
  }
}
@media screen and (max-width: 386px) {
  .header-section{
    .header-content{
      top: 2%;
      h1{
        font-size: 40px;
      }
      h2{
        font-size: 20px;
      }
    }
  }
}
.home-header-section{
  @extend .header-section;
  .navbar-custom{
    background-color: transparent;
    margin-bottom: 0px !important;
  }
}
.body-section{
  .align-center{
    text-align: center;
  }
  .section{
    padding: 40px 0px;
  }
  .instruction{
    background-color: #8ee1d4;
    margin: 0px;
    padding: 50px 5%;
    width: 100%;
  }
  hr{
    margin-bottom: 0px;
  }
  .welcome{
    h1{
      color: #de77e9;
    }
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .introduction{
    background-color: #e4e0e0;
    padding: 0px 15%;
    h1{
      color: #686868;
    }
    .col-lg-4{
      padding: 0px;
    }
    .popular-class-item{
      background-color: white;
      text-align: center;
      margin: 10px 10px;
      padding: 20px;
      .img_class{
        width: 200px;
        height: 200px;
        padding: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
      }
      .img-rating{
        width: 50%;
      }
      .info-section{
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid gray;
        .col-info{
          padding: 0px;
        }
        img{
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .instruction{
    img{
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px){
  .body-section{
    .instruction{
      .col-lg-4{
        text-align: center;
        margin-top: 20px;
        img{
          width: 70%;
        }
      }

    }
  }
}
.footer-section{
  color: white;
  background-color: #635E64;
  padding: 5px;
  h5{
    font-weight: bold;
    color: #64d7c6;
  }
  .glyphicon{
    color: #F69A2B;
    padding-right: 10px;
  }
  span{
    color: #FBC584;
  }
  .about-us-title, .contact-us-title{
    color: #D4D4D4;
  }
  .about-us-text{
    padding-left: 10%;
  }
  .app-title{
    color: #64d7c6;
  }
  .copy-right .about-us{
    color: white;
    padding-top: 10%;
    padding-left: 20%;
  }
  li{
    margin: 15px;
  }
  ul{
    list-style-type: none;
  }
  .feed-back-form{
    margin: 20px 30px;
    padding: 20px;
    .title{
      color: #64d7c6;
    }
    background-color: white;
  }
}
.website-navbar-scroll{
  background-color: #3b3b3b !important;
}
.flash-wrapper{
  position: absolute;
  top: 0px;
  left: 20px;
  width: 200px;
  z-index: 2000;
}
.main-section{
  min-height: 500px;
  padding-top: 50px;
}
.title-01{
  color: #dfdfdf;
  font-size: 25px;
}
.title-02{
  color: #abe8df;
  font-size: 25px;
}
.course-item{
  .course-content{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover{
      .detail-content{
        opacity: 1;
      }
    }
  }
  .detail-content{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    opacity: 0;
    .detail-bg{
      position: absolute;
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
    .detail-info{
      position: relative;
      height: 100%;
      .title-course{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin: 0px;
        color: #fff;
      }
    }
  }
}
.btn-register{
  padding: 6px 15px !important;
  font-size: 16px !important;
}
.btn-header-studio{
  margin: 10px;
  padding: 5px 8px !important;
  color: #fff !important;
  font-weight: bold;
}
