.background-image{
  img{
    width: 100%;
  }
}
.registration-form{
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 10% auto;
  // background-color: white;
  width: 400px;
  .btn{
    margin: 0px 5px;
  }
  .title{
    // background-color: #de77e9;
    margin: 0px;
    padding: 10px 0px;
    h2{
      color: white;
      font-size: 35px;
      font-weight: 700;
    }
  }
  .body{
    padding: 30px 20px 20px 20px;
    margin: 0px;
    background-color: #fff;
    .btn{
      margin: 5px;
      width: 130px;
    }
    .form-group{
      margin: 0px;
      min-height: 64px;
    }
    .error-text{
      text-align: left;
      margin-left: 30px;
      color: red;
      height: 30px;
    }
  }
  .back-button{
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #de77e9;
  }
}


.left-inner-addon {
  position: relative;
  input::-webkit-input-placeholder {
    font-size: 16px;
    color: #8ee1d4;
    font-weight: 400;
  }
  input:-moz-placeholder {
    font-size: 16px;
    color: #8ee1d4;
    opacity: 1;
    font-weight: 400;
  }
  input::-moz-placeholder {
    font-size: 16px;
    color: #8ee1d4;
    opacity: 1;
    font-weight: 400;
  }
  input:-ms-input-placeholder {
    font-size: 16px;
    color: #8ee1d4;
    font-weight: 400;
  }
  input:placeholder-shown {
    font-size: 16px;
    color: #8ee1d4;
    font-weight: 400;
  }
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    left: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.max-height-term-condition {
  max-height: 350px !important;
  min-height: 100px !important;
  padding: 10px 0 !important;
  overflow-y: auto;
}

.element-hover {
  &:hover {
    background-color: #fff !important;
  }
}