.facebook-section{
  .facebook-btn:hover{
    background-color: #2a6496;
    color: white;
    text-decoration: none;
  }
  .facebook-btn{
    background-color: #3b5998;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
  }
  margin: 30px 0px;
}

.login-form{
  position: absolute;
  top: 0px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin: 10% auto;
  width: 400px;
  .title{
    margin: 0px;
    padding: 10px 0px;
    h2{
      color: white;
      font-size: 35px;
      font-weight: 700;
    }
  }
  .body{
    padding: 30px 20px 20px 20px;
    margin: 0px;
    background-color: #fff;
    .btn{
      margin: 5px;
      min-width: 130px;
    }
    .form-group{
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .back-button{
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #de77e9;
  }
}
.login-section{
  text-align: center;
}
.background{
  img{
    width: 100%;
  }
}

.left-inner-addon {
  position: relative;
  input::-webkit-input-placeholder {
    font-size: 16px;
    color: #8ee1d4;
    font-weight: 400;
  }
  input:-moz-placeholder {
    font-size: 16px;
    color: #8ee1d4;
    opacity: 1;
    font-weight: 400;
  }
  input::-moz-placeholder {
    font-size: 16px;
    color: #8ee1d4;
    opacity: 1;
    font-weight: 400;
  }
  input:-ms-input-placeholder {
    font-size: 16px;
    color: #8ee1d4;
    font-weight: 400;
  }
  input:placeholder-shown {
    font-size: 16px;
    color: #8ee1d4;
    font-weight: 400;
  }
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    left: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
