// Temporary
body{
  .zero-margin{
    margin: 0px;
  }
}
.avatar {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  display: block;
  margin: 0 auto;
}
.panel-border {
  max-height: 1px;
}
.studio-name {
  font-size: 25px;
}
.studio-name:hover{
  text-decoration: none;
}
.gray {
  color: #777;
}
.content {
  margin-top: 50px;
}
.error-text{
  text-align: left;
  color: red;
}

.center-text{
  text-align: center;
}

.left-text{
  text-align: left;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{
  // background-color: #f0c9f5 !important;
  background-color: #fff !important;
  border-top: 1px solid transparent;
  border-bottom: 2px solid #4BCFBB;
}

.table-striped > tbody > tr > td, .table-striped > tbody > tr > th{
  color: #686868;
  background-color: #fff !important;
  border-top: 1px solid transparent;
  border-bottom: 2px solid #4BCFBB;
}

.uniform-item{
  float: left;
  width: 14%;
  text-align: center;
}
#show-search{
  background-color: #4cd1bc;
  &:hover{
    background-color: #d972e6 !important;
  }
}

.welcome-panel  {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 10% auto;
  width: 800px;
  background-color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
  i {
    display: block;
    text-align: center;
    color: #de77e9;
    font-size: 150px;
  }
  p {
    color: #777;
  }
}
