// Temporary
@import url(https://fonts.googleapis.com/css?family=BenchNine:400,700,300);

body{
  .zero-margin{
    margin: 0px;
  }
}
.avatar {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  display: block;
  margin: 0 auto;
}
.panel-border {
  max-height: 1px;
}
.studio-name {
  font-size: 25px;
}
.studio-name:hover{
  text-decoration: none;
}
.gray {
  color: #777;
}
.content {
  margin-top: 50px;
  min-height: 100vh;
}
.error-text{
  text-align: left;
  color: red;
}

.center-text{
  text-align: center;
}

.left-text{
  text-align: left;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{
  // background-color: #f0c9f5 !important;
  background-color: #fff !important;
  border-top: 1px solid transparent;
  border-bottom: 2px solid #4BCFBB;
}

.table-striped > tbody > tr > td, .table-striped > tbody > tr > th{
  color: #686868;
  background-color: #fff !important;
  border-top: 1px solid transparent !important;
  border-bottom: 2px solid #4BCFBB;
}

.uniform-item{
  float: left;
  width: 14%;
  text-align: center;
}
#show-search{
  background-color: #4cd1bc;
  &:hover{
    background-color: #d972e6 !important;
  }
}

.welcome-panel  {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 10% auto;
  width: 800px;
  background-color: white;
  padding: 0px 20px 0px 20px;
  text-align: center;
  i {
    display: block;
    text-align: center;
    color: #de77e9;
    font-size: 150px;
  }
  p {
    color: #777;
  }
}

#contact-us {
  background-color: #666;
  font-family: 'BenchNine', sans-serif;
  color: #cccccc;

  .col-lg-6 {
    height: 100%;
  }
  .introduction-title {
    margin-top: 50px;
    padding: 50px 0 30px 0;
    position: relative;
    z-index : 1;

    &:before {
      content : "";
      position: absolute;
      left: 25%;
      bottom: 0;
      width   : 50%;
      border-bottom: 3px dotted #64d7c6;
    }

    .heart-icon {
      color: #FF6699;
      padding: 0 10px;
    }

    h1 {
      font-weight: 600;
      font-size: 70px;
    }

    h4 {
      font-size: 30px;
    }
  }
  .feedback {
    padding: 30px 50px;
    // padding-bottom: 30px;
    .feedback-form {
      .form-group {
        height: 100%;
        input {
          border-radius: 0px;
          border: none;
          font-size: 25px;
          height: 100%;
          background-color: #e0d3ee;
        }

        textarea {
          border-radius: 0px;
          border: none;
          height: 300px;
          font-size: 25px;
          background-color: #e0d3ee;
        }
      }
      .btn-feedback {
        margin: 0;
        padding: 5px 40px;
        float: right;
        background-color: #f397ef !important;
        color: #fff !important;
        border: none !important;
        border-radius: 5px !important;
      }
    }
  }

  .contact-information {
    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 20px 0;
        color: #F1AF00;
        .icon {
          font-size: 30px;
        }

        .content {
          padding-left: 10px;
          font-size: 20px;
        }
      }
    }
  }
}

#term-condition {
  padding: 100px 0;
  background-color: #eee;

  * {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .title {
    h1, h3 {
      color: #2c3e50;
      font-size: 27px;
      margin-bottom: 30px;
      font-weight: bold;
    }
  }

  .main-contents {
    ul {
      list-style: none;
    }

    .list-contents {
      margin: auto;

      .content-element {
        margin-bottom: 20px;
        .content-title {
          font-weight: 600;
          font-size: 15px;
          padding: 20px 0;
          color: #142c3c;
        }

        .content-paragraph {
          width: 80%;
          margin: auto;
          color: #888;
        }
      }
    }
  }
}
