// Temporary
body{
  .zero-margin{
    margin: 0px;
  }
}
.avatar {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.panel-border {
  max-height: 1px;
}
.studio-name {
  font-size: 25px;
}
.gray {
  color: #777;
}
.flash-wrapper {
  margin-top: 50px;
  min-height: 50px;
}