// Temporary
body{
  .zero-margin{
    margin: 0px;
  }
}
.avatar {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  display: block;
  margin: 0 auto;
}
.panel-border {
  max-height: 1px;
}
.studio-name {
  font-size: 25px;
}
.studio-name:hover{
  text-decoration: none;
}
.gray {
  color: #777;
}
.content {
  margin-top: 50px;
}
.error-text{
  text-align: left;
  color: red;
}

.center-text{
  text-align: center;
}

.left-text{
  text-align: left;
}