.background-image{
  img{
    width: 100%;
  }
}
.registration-form{
  position: absolute;
  top: 150px;
  right: 100px;
  background-color: white;
  width: 400px;
  padding: 50px;
  .btn{
    margin: 0px 5px;
  }
}