|$("#course_station_id").empty().append(
  "#{j  render('station_option', options: @station_options, type: 'station')}"
|);
|$("#course_teacher_id").empty().append(
  "#{j  render('station_option', options: @teacher_options, type: 'teacher')}"
|);
|$("#course_exercise_id").empty().append(
  "#{j  render('station_option', options: @exercise_options, type: 'exercise')}"
|);