p = t("email_content.static.dear", name: @resource.email)

p = t("email_content.reset_password.direction")

p
  = link_to t("email_content.reset_password.redirect"), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale)

p = t("email_content.reset_password.suggestion.p1")
p = t("email_content.reset_password.suggestion.p2")
